{% extends 'index_base.jinja' %}

{% block index_content %}
    <h2 class="display-6 heading-font">
        Welcome to the Genetwork Pre-Release-1.1.0
    </h2>
    <p class="h6">
        <b>Update:</b> we were previously reported that a software issue exposed the DNA of private users.
        Unfortunately, the previous patch was insufficient in closing the breach.
        We are glad to announce that <i>the offending feature was reworked</i> and the problem now seems resolved,
        which makes us ready for pre-release!
    </p>
    <p>
        Genetwork is a social networking platform, in which each user truly has a unique fingerprint.
        Well, you have something incredibly unique to you - your own user DNA which is derived from your real DNA!
    </p>
    <p>
        Due to the complexity of generating a DNA sequence for users we will be running a pre-release event for joining our community.
        Right now, registration is closed only for our exclusive supporters, but in the near future it will open to the public.
        Stay tuned!
    </p>
{% endblock %}