{% extends 'index_base.jinja' %}

{% block index_content %}
    <h2 class="display-5">
        Welcome to the Genetwork Beta-1.0.2
    </h2>
    <p>
        Genetwork is a social networking platform, in which each user truly has a unique fingerprint.
        Well, you have something incredibly unique to you - your own user DNA which is derived from your real DNA!
    </p>
    <p>
        Currently, we are using a closed testing format for the app.
        Due to the complexity of generating a DNA sequence we are running a limited beta for only few users.
        If you wish to join the platform, stay tuned for new open positions.
    </p>
    <p>
        Since this is still a beta-server, please notify us of any bugs or glitches you encounter!
    </p>
{% endblock %}