{% extends 'base.jinja' %}

{% block content %}

    <center>
        <h1 class="display-1 pt-5 heading-font dark-text">
            Genetwork
        </h1>
        <p class="lead main-text">
            Making your online identity unique.
        </p>
    </center>
    <div class="container rounded-3 light-box py-3 w-75 mt-5">
        {% block index_content %}
        {% endblock %}
    </div>

{% endblock %}