<!-- Navbar snippet -->
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <!-- Search bar -->
        <form class="d-flex" id="searchForm" action='/' method='post'>
            <input type="search" class="form-control" placeholder="Search for users" name="search"/>
            <button type="submit" class="btn btn-outline-light m-2"> Search </button>
        </form>

        <!-- Brand -->
        <a href="#" class="navbar-brand p-4 me-auto">
            Genetwork
        </a>

        <!-- Page navigation links-->
        <div class="p-2 collapse show collapse-horizontal" id="navbarPagesList" aria-expanded="true">
            <div class="d-flex flex-row navbar-nav">
                <a href="/" class="p-2 nav-link text-nowrap">Homepage</a>
                <a href="/explore" class="p-2 nav-link text-nowrap">Explore</a>
                <a href="/draw" class="p-2 nav-link text-nowrap">Draw DNA</a>
                <a href="/check_challenge" class="p-2 nav-link text-nowrap">Submit Solution</a>
            </div>
        </div>

        <!-- Toggle page selection -->
        <div class="p-1 flex-shrink-1">
            <button type="button" class="navbar-toggler" id="navbarPagesToggler" data-bs-toggle="collapse"
                data-bs-target="#navbarPagesList">
                <i class="bi"></i>
            </button>
        </div>
    </div>
</nav>

<script src='/static/navbar.js'></script>