{% set navbar_page_links = [
    ('index', '/', 'Home'),
    ('explore', '/explore', 'Explore'),
    ('draw', '/draw', 'Draw DNA'),
    ('check', '/check_challenge', 'Submit Solution')
]-%}

<!-- Navbar snippet -->
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <!-- Search bar -->
        <form class="d-flex" id="searchForm" action='/' method='post'>
            <input type="search" class="form-control" placeholder="Search for users" name="search"/>
            <button type="submit" class="btn btn-outline-light m-2"> Search </button>
        </form>

        <!-- Brand -->
        <a href="#" class="navbar-brand p-4 me-auto">
            Genetwork
        </a>

        <!-- Page navigation links-->
        <div class="p-2 collapse show collapse-horizontal" id="navbarPagesList" aria-expanded="true">
            <div class="d-flex flex-row navbar-nav">
                {% for page, url, name in navbar_page_links %}
                    <a href="{{url}}" class="p-2 nav-link text-nowrap {% if page == active_page %}active{% endif %}">{{name}}</a>
                {% endfor %}
            </div>
        </div>

        <!-- Toggle page selection -->
        <div class="p-1 flex-shrink-1">
            <button type="button" class="navbar-toggler" id="navbarPagesToggler" data-bs-toggle="collapse"
                data-bs-target="#navbarPagesList">
                <i class="bi"></i>
            </button>
        </div>
    </div>
</nav>

<script src='/static/navbar.js'></script>