{% block sidebar %}
<div class="container p-2 d-flex flex-column justify-content-center text-center">
    <p>
        <button type="button" class="btn btn-dark" id="sidebarSearchSettingsToggler" data-bs-toggle="collapse"
            data-bs-target="#sidebarSearchSettings">
            <i class="bi bi-chevron-down"> Search Settings</i>
        </button>
    </p>
    <div class="container bg-light border-dark text-dark border rounded">
        <div class="collapse" id="sidebarSearchSettings">
            PUT
            <br/>
            SEARCH
            <br/>
            SETTINGS
            <br/>
            HERE
        </div>
    </div>
    <br/>
    <div class="container bg-light border-dark text-dark border rounded">
        <p>
            <b>
                Recently Viewed Users:
            </b>
            <p id="sidebarRecentUsers">

            </p>
        </p>
    </div>
    <br/>
    <div class="container bg-light border-dark text-dark border rounded">
        <p>
            Maybe put a footer on the sidebar?
        </p>
    </div>
</div>
{% endblock %}


{% block sidebar_internal_script %}
<script src='/static/recent_users.js'></script>
<script>
    $().ready(() => {
        // configure buttons
        bind_button_to_collapse("sidebarSearchSettingsToggler", "sidebarSearchSettings");

        // add the recently viewed users to the sidebar
        let recent_users = get_recent_users();
        for (let i = 0; i < recent_users.length; i++) {
            [user_id, name] = recent_users[i];
            $("#sidebarRecentUsers").append(`
                <canvas class="avatar avatar-small border border-primary" data-user-id='${user_id}'></canvas>
                <a href="/user/${user_id}">${name}</a>
                <br/>
            `);
        }
        draw_all_avatars();
    });
</script>
{% endblock %}


{% macro add_sidebar(sidebar_col_size=2) -%}
<div class="container-fluid" id="contentContainer">
    <div class="row">
        <!-- Sidebar Col -->
        <div class="col-{{sidebar_col_size}} bg-primary text-light" id="sidebar">
            {{ self.sidebar() }}
        </div>
        <!-- Content Col -->
        <div class="col">
            {{ caller() }}
        </div>
    </div>
</div>


{{ self.sidebar_internal_script() }}


<!-- Script to make sidebar fill window height  -->
<script>
    function stretch_sidebar() {
        let window_height = $(window).height();
        let content_offset = $("#contentContainer").offset().top;
        let content_height = $("#contentContainer").height()
        $("#sidebar").height(Math.max(window_height - content_offset, content_height));
    }

    // initial fit
    stretch_sidebar();

    // window change
    window.onresize = stretch_sidebar;

    // content addition
    new ResizeObserver(stretch_sidebar).observe(contentContainer);
</script>

{%- endmacro %}