{% for user in users %}
<a href="/user/{{user.user_id}}" class="border list-group-item w-25 d-flex flex-column align-items-center border-0 query-user">
    <canvas class="avatar w-100 h-100 p-0 m-0" data-user-id='{{user.user_id}}'></canvas>
    <!-- <div class="container w-100 p-2 m-0"> -->
        <p class="w-100 bg-dark color-dark py-1 m-0 h-25 text-nowrap">
            {{user.name}}
        </p>
    <!-- </div> -->
</a>
{% endfor %}