{% for user in users %}
<a href="/user/{{user.user_id}}" class="border list-group-item list-group-item-action w-25 pb-0">
    <h5>
        {{user.name}}
    </h5>
    <canvas class="avatar" data-user-id='{{user.user_id}}'></canvas>
</a>
{% endfor %}