{% set navbar_page_links = [
    ('index', '/', 'Home', 'bi-house-fill'),
    ('explore', '/explore', 'Explore Users', 'bi-people-fill'),
    ('draw', '/draw', 'Draw DNA', 'bi-palette-fill'),
    ('check', '/check_challenge', 'Submit Solution', 'bi-award-fill')
]-%}

{% set active_page = active_page | default('index') %}

{% macro nav_link(url, name, icon, is_active=False) -%}
<a href="{{url}}"
    class="p-1 nav-link text-nowrap {% if is_active %}active{% endif %} text-center dark-btn">
    <i class="bi {{icon}} d-block h4"></i>
    {{name}}
</a>
{%- endmacro %}

<!-- Navbar snippet -->
<nav class="navbar color-dark py-0">
    <!-- Brand -->
    <a href="#" class="navbar-brand highlight-text px-4 py-0 me-4 fw-bold heading-font">
        Genetwork
    </a>
    
    <!-- Search bar -->
    <form class="d-flex me-auto py-0 align-items-center" id="searchForm" action='/' method='post'>
        <input type="search" class="form-control" placeholder="Search for users" name="search" size="30"/>
        <button type="submit" class="btn btn-outline-light m-2 text-center">
            <span class="d-flex align-items-center h-100 w-100 justify-content-center">
                <i class="bi bi-search me-1"></i> Search
            </span>
        </button>
    </form>

    <!-- Toggle page selection -->
    <div class="px-1 py-0 flex-shrink-1">
        <button type="button" class="navbar-toggler dark-btn" id="navbarPagesToggler" data-bs-toggle="collapse"
            data-bs-target="#navbarPagesList">
            <i class="bi h3"></i>
        </button>
    </div>

    <!-- Page navigation links-->
    <div class="px-2 py-0 collapse show collapse-horizontal" id="navbarPagesList" aria-expanded="true">
        <div class="d-flex flex-row navbar-nav">
            {% for page, url, name, icon in navbar_page_links %}
                {{nav_link(url, name, icon, page==active_page)}}
            {% endfor %}
        </div>
    </div>

</nav>

<script src='/static/navbar.js'></script>