{% extends 'base.jinja' %}

{% set active_page = 'draw' %}

{% block content%}
<script src='/static/draw.js'></script>
    <center>
        <h2 class="display-2">
            Draw <small class="text-muted"> Anything You Can Imagine</small>
        </h2>
        <br>
        <br>
        <canvas class="avatar avatar-big border border-primary" id="drawDNACanvas"></canvas>
        <br>
        <input type="text" id="dnaToDraw" size="80"/>
        <button type="button" class="btn btn-primary" id="drawDNABtn" onclick="draw_dna();">Draw</button>
    </center>

{% endblock %}