{% extends 'base.html' %}
{% block content %}
    <script src='/static/explore.js'></script>
    <center>
        <h1>
            Explore Users
        </h1>
        <br/>
        <div class="card-group w-75" id="exploreUsers">
            {% for user in users %}
            <div class="card">
                <div class="card-body">
                    <canvas class="avatar border border-primary" data-user-id='{{user.user_id}}'></canvas>
                    <h5 class="card-title">
                        <a href="/user/{{user.user_id}}" >{{user.name}}</a>
                    </h5>
                </div>
            </div>
            <br/>
            {% endfor %}
        </div>
    </center>

{% endblock %}