{% extends 'base.html' %}

{% set active_page = 'explore' %}

{% block content %}
    <script src='/static/explore.js'></script>
    <center>
        <h1>
            Explore Users
        </h1>
        <br/>
        <div class="container w-75">
            <ul class="list-group list-group-horizontal align-items-stretch flex-wrap" id="exploreUserList">
                {% include "snippets/users_as_list_items.html" %}
            </ul>
        </div>
    </center>

{% endblock %}