{% extends 'base.jinja' %}

{% block content %}

    <center>
        <h1 class="display-1 pt-5">
            Genetwork
        </h1>
        <p class="lead">
            Making your online identity unique.
        </p>
    </center>
    <div class="container rounded-3 border py-3 m-5">
        <h2 class="display-5">
            Updates
        </h2>
        <p>
            This should contain difficulty-adjusted information.
            Easy should talk about pre-beta something blah blah blah,
            Medium about how security was improved using encryption and so on,
            Hard about this being actual release but open registration is not enabled either because it's gated or requires money or IDK.
        </p>
    </div>

{% endblock %}