{% extends 'base.jinja' %}

{% block content %}

    <center>
        <h1 class="display-1 pt-5">
            Genetwork
        </h1>
        <p class="lead">
            Making your online identity unique.
        </p>
    </center>

{% endblock %}