{% extends 'base.jinja' %}

{% set active_page = 'search' %}

{% block content %}
    <center>
        <h2 class="display-2">
            <small class="text-muted">Found</small> {{users | length}} <small class="text-muted">Matching 
                {% if users | length == 1 %}
                    User
                {% else %}
                    Users
                {% endif %}
            </small>
        </h2>
        <br/>
        <div class="container w-75">
            <ul class="list-group list-group-horizontal align-items-stretch flex-wrap border-0">
                {% include "snippets/users_as_list_items.jinja" %}
            </ul>
        </div>
    </center>

{% endblock %}